/* src/components/Layout.css */
.layout {
    display: flex; 
    min-height: 100vh; 
    background-color: #282c34; 
    color: white; 
    font-family: Arial, sans-serif;
  }
  
  .main-content {
    flex-grow: 1; 
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
  }
  
 
  @media (max-width: 768px) {
    .layout {
      flex-direction: column; 
    }
  }